.header {
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: #fbc02d;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 3px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
}

.section {
  display: grid;
  place-items: center;
  gap: 1.5rem;
}

.title {
  width: 200px;
  padding: 1rem;
  border: 6px dashed #000;
  text-align: center;
  font-size: 1.25rem;
}

.form {
  width: 100%;
  max-width: 320px;
}

.label {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #000;
}
