.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.loader {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: grid;
  grid-template-areas:
    "sidebar title"
    "sidebar search-bar"
    "sidebar article";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto 1fr;
}

.wrapper {
  padding: 2rem;
  text-align: center;
}
